/* ==========================================================================
   Ting search context carousel styling
   ========================================================================== */




/* Pane, wrapper and inner
========================================================================== */
.pane-search-context.js-above-search-result {
  .slick-items {
    @include zen-clear();
    height: 200px;
  }
  @media only screen and (max-width: $breakpoint-medium) {
    height: 0;
  }
}

.pane-search-context.js-below-search-result {
  .slick-items {
    @include zen-clear();
    height: 0;
  }
  @media only screen and (max-width: $breakpoint-medium) {
    height: 200px;
  }
}


.pane-search-context {

 .slick-arrow {
    min-height: 100%;
    width: 50px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
    line-height: 1;
    opacity: .80;
    color: $white;
  }

  .slick-prev {
    left: 1.5%;
    top: 45%;
    z-index: 1001;
  }

  .slick-next {
    right: 1.5%;
    top: 45%;
    background-position: -55px 0;
  } 

  .slick-item {
    margin: 0 8px;

    a {
      display: block;
      position: relative;
      padding-bottom: 170%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center -10px;
      text-decoration: none;
      @media only screen and (max-width: $breakpoint-medium) {
        padding-bottom: 190%;
      }
    }

    h2 {
        font-size: $font-size-large;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: $small-spacing;
        padding-bottom: $small-spacing;
        color: $font-color-primary;
      

        @include small-medium() {
          font-size: $font-size-medium;
        }

      }
  }
}


